/** =================== OXYGEN SANS =================== **/

/** Oxygen-Sans Regular **/
@font-face {
	font-family: "Oxygen-Sans";
	font-weight: 400;
	font-style: normal;
	src: url("Oxygen-Sans.woff2") format("woff2");
	font-display: swap;
}

/** Oxygen-Sans Bold **/
@font-face {
	font-family: "Oxygen-Sans";
	font-weight: 700;
	font-style: normal;
	src: url("Oxygen-Sans-Bold.woff2") format("woff2");
	font-display: swap;
}