/** =================== OPENSANS CONDENSED =================== **/

/** OpenSans Condensed Light **/
@font-face {
	font-family: "OpenSans-Condensed";
	font-weight: 300;
	font-style: normal;
	src: url("OpenSans-CondensedLight.woff2") format("woff2");
	font-display: swap;
}

/** OpenSans Light-Italic **/
@font-face {
	font-family: "OpenSans-Condensed";
	font-weight: 300;
	font-style: italic;
	src: url("OpenSans-CondensedLightItalic.woff2") format("woff2");
	font-display: swap;
}

/** OpenSans Regular **/
@font-face {
	font-family: "OpenSans-Condensed";
	font-weight: 400;
	font-style: normal;
	src: url("OpenSans-CondensedRegular.woff2") format("woff2");
	font-display: swap;
}

/** OpenSans Regular-Italic **/
@font-face {
	font-family: "OpenSans-Condensed";
	font-weight: 400;
	font-style: italic;
	src: url("OpenSans-CondensedItalic.woff2") format("woff2");
	font-display: swap;
}

/** OpenSans SemiBold **/
@font-face {
	font-family: "OpenSans-Condensed";
	font-weight: 600;
	font-style: normal;
	src: url("OpenSans-CondensedSemiBold.woff2") format("woff2");
	font-display: swap;
}

/** OpenSans SemiBold-Italic **/
@font-face {
	font-family: "OpenSans-Condensed";
	font-weight: 600;
	font-style: italic;
	src: url("OpenSans-CondensedSemiBoldItalic.woff2") format("woff2");
	font-display: swap;
}

/** OpenSans Bold **/
@font-face {
	font-family: "OpenSans-Condensed";
	font-weight: 700;
	font-style: normal;
	src: url("OpenSans-CondensedBold.woff2") format("woff2");
	font-display: swap;
}

/** OpenSans Bold-Italic **/
@font-face {
	font-family: "OpenSans-Condensed";
	font-weight: 700;
	font-style: italic;
	src: url("OpenSans-CondensedBoldItalic.woff2") format("woff2");
	font-display: swap;
}

/** OpenSans ExtraBold **/
@font-face {
	font-family: "OpenSans-Condensed";
	font-weight: 800;
	font-style: normal;
	src: url("OpenSans-CondensedExtraBold.woff2") format("woff2");
	font-display: swap;
}

/** OpenSans ExtraBold-Italic **/
@font-face {
	font-family: "OpenSans-Condensed";
	font-weight: 800;
	font-style: italic;
	src: url("OpenSans-CondensedExtraBoldItalic.woff2") format("woff2");
	font-display: swap;
}
