/** =================== OPENSANS =================== **/

/** OpenSans Light **/
@font-face {
	font-family: "OpenSans";
	font-weight: 300;
	font-style: normal;
	src: url("OpenSans-Light.woff2") format("woff2");
	font-display: swap;
}

/** OpenSans Light-Italic **/
@font-face {
	font-family: "OpenSans";
	font-weight: 300;
	font-style: italic;
	src: url("OpenSans-LightItalic.woff2") format("woff2");
	font-display: swap;
}

/** OpenSans Regular **/
@font-face {
	font-family: "OpenSans";
	font-weight: 400;
	font-style: normal;
	src: url("OpenSans-Regular.woff2") format("woff2");
	font-display: swap;
}

/** OpenSans Regular-Italic **/
@font-face {
	font-family: "OpenSans";
	font-weight: 400;
	font-style: italic;
	src: url("OpenSans-Italic.woff2") format("woff2");
	font-display: swap;
}

/** OpenSans SemiBold **/
@font-face {
	font-family: "OpenSans";
	font-weight: 600;
	font-style: normal;
	src: url("OpenSans-SemiBold.woff2") format("woff2");
	font-display: swap;
}

/** OpenSans SemiBold-Italic **/
@font-face {
	font-family: "OpenSans";
	font-weight: 600;
	font-style: italic;
	src: url("OpenSans-SemiBoldItalic.woff2") format("woff2");
	font-display: swap;
}

/** OpenSans Bold **/
@font-face {
	font-family: "OpenSans";
	font-weight: 700;
	font-style: normal;
	src: url("OpenSans-Bold.woff2") format("woff2");
	font-display: swap;
}

/** OpenSans Bold-Italic **/
@font-face {
	font-family: "OpenSans";
	font-weight: 700;
	font-style: italic;
	src: url("OpenSans-BoldItalic.woff2") format("woff2");
	font-display: swap;
}

/** OpenSans ExtraBold **/
@font-face {
	font-family: "OpenSans";
	font-weight: 800;
	font-style: normal;
	src: url("OpenSans-ExtraBold.woff2") format("woff2");
	font-display: swap;
}

/** OpenSans ExtraBold-Italic **/
@font-face {
	font-family: "OpenSans";
	font-weight: 800;
	font-style: italic;
	src: url("OpenSans-ExtraBoldItalic.woff2") format("woff2");
	font-display: swap;
}
