/** =================== OXYGEN MONO =================== **/

/** OxygenMono Regular **/
@font-face {
	font-family: "OxygenMono";
	font-weight: 400;
	font-style: normal;
	size-adjust: 110%;
	src: url("OxygenMono-Regular.woff2") format("woff2");
	font-display: swap;
}